.sombra{
  box-shadow: 0 10px 10px #000000c0;
  border-radius: 20px;
}


.container{
  height: 25rem;
  width: 20rem;

  background-color: #19191f;
  border-radius: 20px;
  box-shadow: 0 10px 1px #13131a;

}

